@import "tailwindcss";

  --font-display: "Manrope", sans-serif;

  --color-background: #ffffff; /* background color */


  --color-red-text: #e01f1f;
  --color-red-price-board: #ba0000; /* red price board */
  --color-red-price-board-button: #ffaeae; /* red price board button */
  --color-red-price-board-button-hover: #ff8181; /* red price board button hover */

  --color-green-price-board: #008a20; /* green price board */
  --color-green-price-board-button: #c1e3cd; /* green price board button */
  --color-green-price-board-button-hover: #b5d9b5; /* green price board button hover */

  /* grey  */
  --color-grey-light: #f0f2f5;
  --color-grey-dark: #dbe0e5;
}
